@font-face {
   font-family: 'waltographUI';
   font-display: swap;
   src: url('file:///Users/Anyka/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2019-10-07_162510/fonts/waltographUI/font.ttf');
}
